@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 30px;
    padding: 20px 0 20px;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
}

h1 img {
    max-width: 50%;
}

#name p {
    color: #fff;
    margin-top: 11px;
}

/*アコーディオン全体*/
#menu {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

/*開いたときに表示される部分*/

#menu li {
    height: 0;
    overflow-y: hidden;
}

#arrow {
    position: relative;
    margin-left: 40px;
}

#arrow.arrow_active {
    padding: 40px;
    border: 1px solid #ccc;
}

#arrow::after {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 13px;
    /* くの字を山なりに見た時、左側の長さ */
    height: 13px;
    /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid #fff;
    /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid #fff;
    /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(135deg);
    /* くの字の向き */
}

#arrow::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 13px;
    /* くの字を山なりに見た時、左側の長さ */
    height: 13px;
    /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid #fff;
    /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid #fff;
    /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(-45deg);
    /* くの字の向き */
}

/* 共通 */
#post,
#follow_top,
#search_top {
    border-bottom: solid 7px #dcdcdc;
}

.h2 img,
#container h2 {
    margin-left: 125px;
}

#side_icon,
#day {
    text-align: right;
    margin-right: 30px;
}

#side_icon img,
#post img,
#search_btn img {
    max-width: 50px;
}

.form-controller,
.form-control,
#icon {
    background-color: #eeeeee;
    border: solid 2px #BBBBBB;
}

.update_btn,
.btn {
    border-radius: 10px 10px;
    width: 145px;
    padding: 10px;
}

/* 投稿編集ページ */
section .h2 {
    color: #dcdcdc;
}

.h2 img {
    padding-right: 30px;
}

#post {
    text-align: right;
}

#post img {

    padding-bottom: 30px;
    margin-right: 23%;
}

article {
    padding-left: 180px;
    padding-bottom: 22px;
    border-top: solid 2px #dcdcdc;
}

#comment img {
    text-align: left;
}

#comment p {
    margin-left: 90px;
    margin-top: -30px;
    width: 690px;
    margin-bottom: 30px;
}

h3 {
    vertical-align: top;
}


h3 img {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

#day {
    float: right;
}

#edit_btn,
#trash-h_btn {
    border: none;
    background-color: #00000000;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

/* フォローリストページ */
#container {
    flex: 0 0 80%;
}

#follow_top h2 {
    color: #000000;
    float: left;
    margin-right: 50px;
}

#follow_icon {
    margin: 22px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin-bottom: 50px;
}

#follow_icon img {
    margin: 0 10px 10px 0;
}


#side-bar {
    z-index: 20;
    flex: 0 0 19%;
    border-left: 2px solid #727272;
}

#follow,
#follower {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-bottom: 20px;
}

#confirm {
    margin: 22px 0 22px 15px;
    text-align: right;
}

#my_name {
    text-align: left;
}

a {
    color: #fff;
}

.btn {
    background-color: #186AC9;
    margin-top: 10px;
    margin-bottom: 30px;

}

#search {
    width: auto;
    text-align: center;
    border-top: solid 2px #dcdcdc;
}

#search .btn {
    margin-top: 20px;
    width: 180px;
}

/* 検索ページ */
#search_top {
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}

#search_box {
    display: flex;
    border: solid 2px #727272;
    max-width: 300px;
    height: 50px;
    margin-left: 90px;
    margin-right: 20px;
    border-radius: 4px;
}

/*入力フォーム*/
#input_form {
    width: 280px;
    padding: 0 15px;
    border-radius: initial;
    background: transparent;
    border: none;
    outline: 0;
}

/*検索ボタン*/
#search_btn {
    width: 50px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.search_list h2 {
    display: flex;
    align-items: center;
}

.search_list li {
    margin: auto;
    margin-top: 40px;
    width: 75%;
    display: flex;
}

.search_list li img {
    display: flex;
    margin-right: 30px;
}

/* 登録・解除ボタン */
.search_list .btn {
    margin: auto;
    margin-right: 100px;
    background-color: #68b8fd;
}

/* プロフィール編集ページ */
#profile {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-right: 50px;
}

.form-group {
    display: flex;
    margin-left: 100px;
    padding-top: 10px;
    margin-bottom: 50px;
    justify-content: space-between;
    padding-right: 120px;
}

#profile img {
    float: left;
}

.form-controller,
.form-control,
#icon {
    width: 320px;
}

#profile h3 {
    margin: 0;
    margin-top: 5px;
}

#icon {
    text-align: center;
}

label {
    padding: 5px 60px 5px 20px;
    cursor: pointer;
    color: #BBBBBB;
    margin: 20px;
    background-color: #fff;
}

input[type="file"] {
    display: none;
}

#update {
    text-align: center;
}

.update_btn {
    color: #fff;
    width: 180px;
    background-color: #ff0000;
    border: none;
}
